In [2]:
from sklearn.cluster import DBSCAN
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/NelakurthiSudheer/Mall-Customers-Segmentation/main/Dataset/Mall_Customers.csv")

In [6]:
x = df.iloc[:,3:]
x

     Annual Income (k$)  Spending Score (1-100)
0                    15                      39
1                    15                      81
2                    16                       6
3                    16                      77
4                    17                      40
..                  ...                     ...
195                 120                      79
196                 126                      28
197                 126                      74
198                 137                      18
199                 137                      83

[200 rows x 2 columns]

In [15]:
# eps and min_samples are hyper_parameter

dbscan = DBSCAN(eps=1, min_samples=3)
dbscan.fit(x)

DBSCAN(eps=1, min_samples=3)

In [16]:
dbscan.labels_

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1,  0, -1, -1,
        0, -1, -1, -1, -1, -1,  1,  2,  2,  1,  2, -1,  2,  2, -1, -1, -1,
        1, -1, -1, -1, -1, -1, -1,  3, -1,  4, -1, -1,  3,  4,  3,  4, -1,
       -1, -1, -1,  4, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  5, -1,  5, -1,
       -1, -1,  5, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1], dtype=int64)

In [18]:
len(set(dbscan.labels_))

7

In [22]:
x['cluster number '] = dbscan.labels_

In [31]:
x

     Annual Income (k$)  Spending Score (1-100)  cluster number
0                    15                      39               -1
1                    15                      81               -1
2                    16                       6               -1
3                    16                      77               -1
4                    17                      40               -1
..                  ...                     ...              ...
195                 120                      79               -1
196                 126                      28               -1
197                 126                      74               -1
198                 137                      18               -1
199                 137                      83               -1

[200 rows x 3 columns]

In [32]:
from sklearn import metrics

In [34]:
true_label = x['cluster number ']
labels_pred = x['cluster number ']

metrics.adjusted_rand_score(true_label, labels_pred)

1.0

In [37]:
metrics.jaccard_score(true_label , labels_pred, average='macro')

1.0